// Must include global vars in all files
@import "styles/global/vars";

// Component styles below
.MainSection {
  padding: $spacing--1500;
  position: relative;
  z-index: 1;
  > * {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $bp--3000;
  }
  &-heading {
    margin-top: $spacing--1000;
    transition: opacity 2s;
    transition-delay: 1s;
  }
  &--alt {
    background: $color--tertiary;
    padding: $spacing--3000 $spacing--1500;
    &.MainSection--noPadding {
      padding: $spacing--2000 $spacing--1000;
    }
    & + & {
      margin-top: -#{$spacing--2000};
    }
  }
  &--expanded {
    padding: $spacing--5000 $spacing--1500;
  }
  &--noPadding {
    padding: 0 $spacing--1000;
  }
  &--fadeBg {
    background: linear-gradient(
      to bottom,
      $color--secondary,
      $color--secondary 50%,
      $color--tertiary
    );
  }
  &-headerImg,
  &-footerImg {
    position: absolute;
    left: 0;
    right: 0;
    max-width: none; // Override $bp--3000 above
  }
  &-headerImg {
    top: 0;
  }
  &-footerImg {
    bottom: 0;
  }
}
