.MainSection {
  padding: 1.5rem;
  position: relative;
  z-index: 1; }
  .MainSection > * {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px; }
  .MainSection-heading {
    margin-top: 1rem;
    transition: opacity 2s;
    transition-delay: 1s; }
  .MainSection--alt {
    background: #011226;
    padding: 3rem 1.5rem; }
    .MainSection--alt.MainSection--noPadding {
      padding: 2rem 1rem; }
    .MainSection--alt + .MainSection--alt {
      margin-top: -2rem; }
  .MainSection--expanded {
    padding: 5rem 1.5rem; }
  .MainSection--noPadding {
    padding: 0 1rem; }
  .MainSection--fadeBg {
    background: linear-gradient(to bottom, #01264f, #01264f 50%, #011226); }
  .MainSection-headerImg, .MainSection-footerImg {
    position: absolute;
    left: 0;
    right: 0;
    max-width: none; }
  .MainSection-headerImg {
    top: 0; }
  .MainSection-footerImg {
    bottom: 0; }
