// Must include global vars in all files
@import "styles/global/vars";

.VideoTyping {
  &-introText {
    padding-top: $spacing--1500;
  }
  &-typingWrapper {
    position: absolute;
    top: 0;
  }
}
