.Blog-entries:only-child() {
  margin-bottom: 3rem; }

.Blog-pagination {
  margin: 2rem auto 0;
  max-width: 480px;
  display: flex;
  justify-content: space-between; }
  .Blog-pagination-link {
    color: white; }
    .Blog-pagination-link.is-disabled {
      color: rgba(255, 255, 255, 0.3);
      cursor: initial;
      text-decoration: none; }

.Blog-viewAll {
  text-align: center;
  margin-top: 2rem; }
  .Blog-viewAll a {
    color: white;
    font-size: 1.5rem; }
