// Must include global vars in all files
@import "styles/global/all";

// Component styles below
.Blog {
  &-entry {
    position: relative;
    &:nth-child(-n + 2) {
      padding-bottom: $spacing--3000;
      &::after {
        content: "";
        display: block;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 10%;
        border-bottom: 2px solid $color--white;
      }
    }
    &:not(:first-child) {
      margin-top: $spacing--3000;
    }
  }
  &-titleBar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    h3 {
      display: inline-block;
    }
    h4 {
      width: 100%;
      text-align: left;
    }
  }
  p {
    margin-top: $spacing--1000;
  }
}
