.Features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .Features li {
    text-align: center;
    width: 80%;
    margin-bottom: 1rem; }
    @media screen and (min-width: 768px) {
      .Features li {
        width: 45%; }
        .Features li:nth-child(-n + 2) h4 {
          height: 4rem; } }
    .Features li p {
      text-align: left; }
  .Features h4 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem; }
