// Must include global vars in all files
@import 'styles/global/vars';

// Component styles below
.MediumBlogEntry {
  position: relative;
  &:not(:last-child) {
    padding-bottom: $spacing--500;
    &::after {
      content: '';
      display: block;
      width: 80%;
      position: absolute;
      bottom: 0;
      left: 10%;
      border-bottom: 1px solid $color--white;
    }
  }
  &:not(:first-child) {
    margin-top: $spacing--2000;
  }
  &-titleBar {
    margin-bottom: $spacing--500;
    h3 {
      display: inline-block;
      line-height: 1;
    }
  }
  &-body {
    &--clipped {
      position: relative;
      max-height: 250px;
      overflow: hidden;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(
          rgba(0, 0, 0, 0) 0%,
          $color--secondary 70%,
          $color--secondary
        );
      }
      + .MediumBlogEntry-buttonWrap {
        margin-top: 0;
      }
    }
    h3 {
      margin-top: $spacing--1500;
    }
    p {
      margin-top: $spacing--1000;
    }
    img {
      max-width: 75%;
      display: block;
      margin: auto;
    }
  }
  &-buttonWrap {
    text-align: center;
    margin: $spacing--1500 auto;
  }
  &-author {
    border-top: 1px solid rgba($color--white, 0.5);
    display: flex;
    justify-content: space-between;
  }
}
