// Must include global vars in all files
@import 'styles/global/vars';

// Component styles below
.MediumBlog {
  &-entries {
    &:only-child() {
      margin-bottom: $spacing--3000;
    }
  }
  &-pagination {
    margin: $spacing--2000 auto 0;
    max-width: $bp--500;
    display: flex;
    justify-content: space-between;
    &-link {
      color: $color--white;
      &.is-disabled {
        color: rgba($color--white, 0.3);
        cursor: initial;
        text-decoration: none;
      }
    }
  }
  &-viewAll {
    text-align: center;
    margin-top: $spacing--2000;
    a {
      font-size: $font-size--3000;
    }
  }
}
