.PressKit {
  position: relative;
  width: 100vw;
  max-width: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, #01264f 80%, #011226); }
  .PressKit .MainSection::before, .PressKit .MainSection::after {
    content: "";
    display: block;
    clear: both; }
  .PressKit-hero {
    background: black;
    margin: 1rem 1rem 0;
    text-align: center; }
    .PressKit-hero img {
      max-height: 380px; }
    @media screen and (min-width: 768px) {
      .PressKit-hero {
        margin: 1.5rem 0 0;
        width: 100%; } }
  .PressKit-sidebar {
    padding: 0 1rem 1.5rem;
    margin-top: 1rem; }
    @media screen and (min-width: 768px) {
      .PressKit-sidebar {
        width: 21%;
        position: fixed;
        top: 82px;
        z-index: 2; } }
    .PressKit-sidebar a {
      display: block; }
    .PressKit .PressKit-sidebar h1 {
      margin-top: 0; }
  .PressKit-wrapper {
    max-width: 1024px;
    margin: auto; }
  @media screen and (min-width: 768px) {
    .PressKit-section {
      width: 70%;
      float: right; } }
  .PressKit-section-description {
    padding: 0.5rem 1rem; }
    .PressKit-section-description aside {
      padding-bottom: 1rem; }
    .PressKit-section-description dt,
    .PressKit-section-description dd {
      display: block; }
    .PressKit-section-description dt {
      text-decoration: underline; }
    .PressKit-section-description dd {
      margin-bottom: 0.5rem; }
    @media screen and (min-width: 768px) {
      .PressKit-section-description {
        padding: 1rem 0;
        display: flex; }
        .PressKit-section-description aside {
          width: 50%;
          padding: 0 0 0.5rem 0; }
        .PressKit-section-description div {
          width: 50%; } }
  .PressKit-section section {
    margin-bottom: 2rem; }
  .PressKit-section p {
    margin-bottom: 0.5rem; }
  .PressKit-section p.noMargin {
    margin: 0; }
  .PressKit-section h3 {
    margin-top: 1rem; }
  .PressKit-section li {
    list-style: disc;
    margin-left: 1rem; }
  .PressKit-awards {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .PressKit-awards-pax {
      width: 15%; }
    .PressKit-awards-dreamhack {
      width: 25%; }
    .PressKit-awards-bfig {
      width: 18%; }
    .PressKit-awards-gameDaily {
      width: 12%; }
  .PressKit h1,
  .PressKit h2,
  .PressKit h3,
  .PressKit h4 {
    text-align: left; }
  .PressKit h1,
  .PressKit h2,
  .PressKit h3 {
    margin: 0.5rem 0; }
    .PressKit h1 span,
    .PressKit h2 span,
    .PressKit h3 span {
      padding-top: 82px; }
  .PressKit h1,
  .PressKit h2 {
    text-transform: uppercase; }
